#navbar {
  width: 100;
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: #ff4848;
  color: white;
}

section {
  border: none;
}

#navbar_side {
  display: flex;
}

#navbar_side > span {
  margin: 1em;
}

#title {
  margin: 5px;
  font-family: Ubuntu;
  font-size: 2em;
  color: darkgoldenrod;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

main {
  height: 100%;
  padding: 0 5%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: #f4f1ec;
  border-bottom: 3px #545149;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
