
#navbar {
  width: 100;
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: #ff4848;
  color: white;
}

section {
  border: none;
}

#navbar_side {
  display: flex;
}

#navbar_side > span {
  margin: 1em;
}

#title {
   margin:5px;
    font-family: Ubuntu;
    font-size: 2em;
    color: darkgoldenrod;
  }

  h1 {
    display: flex;
    justify-content: center;
  }

  h2 {
    display: flex;
    justify-content: center;
  }
