h1 {
  display: flex;
  justify-content: center;
  
}

#meeting {
  display: flex;
  justify-content: center;
  
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#basics {
  display: flex;
}

#bio {
margin: 1em;
margin-top: 2em;
}

#meeting {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#meeting > button {
  border: solid black 1px;
}

#details {
  display: flex;
  justify-content: center;
}

#details > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

#details > section > p {
  margin: 0.5em
}

.enter-room {
	display: flex;
	padding: 9px 2.8%;
	width: fit-content;
  justify-content: space-evenly;
	margin: 5%;
  margin-bottom: 30pt;
	border-radius: 25px;
	border: none;
	font-size: 18px;
	letter-spacing: 0.2px;
	font-weight: 400;
	background-color: #ff4848;
	color: #e6d29f;
}

.enter-room-cont {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.calling-you {
	display: flex;
	padding: 10px 3%;
	width: fit-content;
  justify-content: space-evenly;
	margin: 5%;
  margin-bottom: 30pt;
	border-radius: 25px;
	border: none;
	font-size: 20px;
	letter-spacing: 0.2px;
	font-weight: 400;
	background-color: #c0912b;
	color: #fff9ea;
}
