h1 {
  display: flex;
  justify-content: center;
  background-color: #FFD371;
  color: white;
  padding: 10px 10px;
  width: auto;
}

h2 {
	color: white;
	text-align: center;
	width: 100%;
	background-color: #E6EBEE;
	border-radius: 25px 25px 0 0;
	color: #393B45;
	padding: 30px 0;
	font-weight: 800;
	margin: 0;
  font-size: 25pt;
}


html,body {
	background-color: #6E7889;
	font-family: tahoma, sans-serif;
	color: #E6EBEE;
}

.image-crop {
	display: block;
	position: relative;
	background-color: #E6EBEE;
	width: 180px;
	height: 180px;
	margin: 0 auto;
	margin-top: 30px;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 1px 1px 5px #cccccc;
}

.a-and-g {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.row {
  width:49%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgb(102, 100, 100) 1.5pt;
  margin-bottom: 3pt;
  padding-top: 4pt;
  margin-left: 1pt;
  margin-right: 1pt;
}


#avatar {
	display: inline;
	height: 230px;
	width: auto;
	margin-left: -34px;
}


#card {
	background-color: #201d1de5;
	height: auto;
	width: 400px;
	margin: 10vh auto;
	border-radius: 25px;
	padding: 3px;
	box-shadow: 5px 5px 5px #3b3131;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stat {
  font-weight: bolder
}

#user-bio {
	width: 100%;
	height: auto;
  text-align: center;
  padding: 2% 0;
}

.label {
  height: fit-content;
  margin: none;
  padding: none;
  color: grey;
}

#user-bio p {
	color: #E6EBEE;
	font-size: 15px;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid rgb(129, 129, 129) 1.5pt;
  margin-bottom: 3pt;
  padding-top: 4pt;
}

// #stats {
// 	display: flex;
// 	flex-direction: row;
// 	height: auto;
// 	width: 280px;
// 	justify-content: space-between;
// 	align-items: center;
// 	margin: 0 auto;
// 	font-weight: 500;
// }

.stat {
	font-size: 25px;
	margin: 0;
}

button:focus {
	display: none;
}

button:hover {
	transform: scale(1.2);
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

#msg{
	background-color: #E6EBEE;
	color: #1f1b1b;
}

.logout {
	display: block;
	float: right;
	padding: 10px 0;
	width: 130px;
	margin: 5%;
  margin-bottom: 30pt;
	border-radius: 25px;
	border: none;
	font-size: 20px;
	letter-spacing: 0.2px;
	font-weight: 400;
	background-color: #ff4848;
	color: #E6EBEE;
}
#details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Ubuntu;
  background-color: #C2FFDC;

}

// #details > section {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   margin: 1em;
//   background-color: white;
// }
// .profile-section1{
//   display: flex;
//   flex-direction: column
// }
// .profile-section2{
//   display: flex;
//   flex-direction: column
// }



// //////////////////////////////@at-root





body,
html {
  /* you can add overflow:hidden here to make the scrollbar disappear */
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://images6.alphacoders.com/377/377152.jpg);
}


.profile-body{
margin: 25px;
}

.profile {
margin-top: -45px;
margin-left: auto;
margin-right: auto;
border-radius: 25px;
background-color: #ddd;
padding: 20px;
z-index: 0;
}

.socialmedia {
    text-align: center;
}

.photo {
    margin: 25px;

}

.image--cover {
    width: 170px;
    height: 170px;
    border: #fff 3px solid;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: -40px;    
}

.username,
.profession,
.locationname,
.descricao {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 1px;
}

.username {
    font-size: 20pt;
}

.profession {
    font-size: 14pt;
}

.locationname {
    font-size: 14pt;
    margin: 2px
}

.descricao {
    border-top: #969696 solid 1px;
    padding: 10px;
    font-size: 11pt;
    margin: 5px;
}

.name {
  display: flex
}