h1 {
  display: flex;
  justify-content: center;
}

#profile_creator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid black 1px;
}

#profile_creator > section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1em;
  border-radius: 3px;
}

#profile_creator > section > textarea {
  resize: none;
}

.registerButton{
  background-color: #54ca9b;
  padding: 7px 15px;
  font-size: 1em;
  margin-left: 7.5px; 
  margin-right: 7.5px;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 10px;
}
  
  .registerButton:hover{
    background-color: whitesmoke;
    color: #54ca9b;
    font-family: 'Ubuntu', sans-serif;
  }

  .register-components{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input{
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
  }
    
    #gender{
      height: 30px;
      border-radius: 5px; 
    }