#timer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #ff4848;
}

.chatter2 {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.chattersName {
  margin-top: 0;
  width: 60%;
}

.extend {
  background-color: #dd3939;
  width: 50%;
}
.extend :hover {
  background-color: rgb(105, 41, 41);
  box-shadow: inset 0 0 0 5px #300e0e;
  width: 100%;
}

.time-left {
  width: 50%;
  text-align: center;
  font-weight: 500;
  font-family: Ubuntu;
  font-size: 1.3em;
}
