@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap');

.greeting{
  font-size: 1.5em;
  font-family: 'Ubuntu', sans-serif;
  color: #5e1b1b;
}

.welcome{
  display: flex;
  flex-direction: column;
  align-items: center;
}


.login, .register{
  background-color: #54ca9b;
  padding: 7px 15px;
  font-size: 1em;
  margin-left: 7.5px; 
  margin-right: 7.5px;
  border-radius: 8px;
  font-family: 'Ubuntu', sans-serif;
}

.login:hover, .register:hover{
  background-color: whitesmoke;
  color: #54ca9b;
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}