#navbar {
  width: 100;
  display: flex;
  border: none;
  justify-content: space-between;
  background-color: #ff4848;
  color: white;
}

section {
  border: none;
}

#navbar_side {
  display: flex;
}

#navbar_side > span {
  margin: 1em;
}

#title {
  margin: 1em;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  display: flex;
  justify-content: center;
}

main {
  margin: 0 5%;
  border-bottom: 3px #545149;
  background-color: white;
}

body {
  background-color: #f4f1ec;
}
