h1 {
  display: flex;
  justify-content: center;
}

#meeting {
  display: flex;
  justify-content: center;
}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#basics {
  display: flex;
}

#bio {
margin: 1em;
margin-top: 2em;
}

#meeting {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#meeting > img {
}

#meeting > button {
  border: solid black 1px;
}

#details {
  display: flex;
  justify-content: center;
}

#details > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

#details > section > p {
  margin: 0.5em
}