h1 {
  display: flex;
  justify-content: center;
  background-color: #FFD371;
  color: white;
  padding: 10px 10px;

}

#profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#basics {
  display: flex;
  border: none;
}

#bio {
margin: 1em;
margin-top: 2em
}

#profile_pic {
  margin: 1em
}

#details {
  display: flex;
  justify-content: center;
}

#details > section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1em;
}

